* { padding: 0;
    margin: 0;
    max-Width: 490px;
    max-Height: 830px;
    margin-left: 1vh;
    
    
}

body {
    background: black;
    margin-left: 50px;
}
/*spans e imagenes*/
span {
    color: #CAFCC4;
}
.fspan {
    margin-left: 30px;
    margin-top: 20px;
}
img {
    width: 35px;
    height: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
    margin-top: 10px;
}
.icon-point-up {
    float: left;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: -8px;
    animation-name: dedo ;
animation-duration: 8s;}
.icon-point-down {
    float: left;
    justify-content: flex-start;
    margin-left: -20%;
    margin-top: -8px;
    animation-name: dedo ;
animation-duration: 8s;}
@keyframes dedo {
    2%{transform: rotate(360deg);}
    10%{color:#443AD8;}
    20%{color:brown;}
    30%{color:olive}
    40%{color:blueviolet}
    50%{color:chartreuse}
    60%{color:darkgreen}
    70%{color:mediumpurple;}
    80%{color:yellow;}
    90%{color:#FFFFFF;}

    
}    
/*-------*/
.single {
    float: left;
    display: flex;
    display: grid;
    margin-top: 42px;
}
.group {
    float: left;
    display: flex;
    margin-top: -23px;
    display: grid;
    margin-left: 97px;
    color: #B8B8B8
   }

.menu {
    float: right;
    margin-right: 35px;
    display: flex;
    margin-top: -48px;
}
.Transaction {
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align-last: center
}
.Ledger {
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: white;
    margin-left: 20px;
}
.totalamount {
    color: #FFFFFF;
    text-align-last: center;
    font-family: 'Sora';
    margin-right: 45px;
}
.Transaction {
    color: white;
    margin-right: 45px;
}

.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    gap: 10px;
}

.id {
    color: white;
    margin: left 20px;
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    color: white;
    margin-left: 25px;
}

.add {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    background: #CAFCC4;
    border-radius: 30px;
    justify-self: center;
    padding: 11px;
    width: 80%;
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align-last: center;
    margin-right: 15px;
}

.Exchange {
    border-radius: 30px;
    background: #1A1A1A;
    color: #FFFFFF;
    justify-self: center;
    padding: 10px;
    width: 85%;
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align-last: center;
    margin-right: 10px;
}

.Exchange2 {
    display: flex;
    width: 66%;
    flex-direction: unset;
    align-items: center;
    background: #1A1A1A;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    position: absolute;
    height: 8vh;
    left: 11%;
    right: 9%;
    top: 70.25%;
    bottom: 62.2%;
    color: white;
    border-radius: 30px;
    margin-top: -370px;
}
.number{
    color: #B8B8B8;
    margin-top: 6px;
}

.analytic {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1A1A1A;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 2em;
    row-gap: 1em;
    margin-left: 20px;
    margin-right: 20px;
    height: 35px;
    width: auto;
}

.send {
    display: flex;
     width: 55%;
    flex-direction:row;
    align-items: flex-start;
    background: #443AD8;
    border-radius: 30px;
    display: grid;
    flex-direction: row;
    justify-content:center;
    padding: 20px;
    gap: 1em;
    row-gap: 1em;
    height: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 5px;
    text-align: center;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 15%;
       }
.send p{
color: #FFFFFF;}
a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
}

h3 {
    color: white;
    width: 100%;
    align-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align-last: start;
    margin-left: 40px;
}

.income {
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 8px;
    color: #FFFFFF;
    width: 100%;
    order: 1;
    flex-grow: 0;
    margin-left: 20%;
    height: 42px;
    margin-top: 10px;
   }

.spending {
    float: inline-end;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 8px;
    text-align: end;
    color: #FFFFFF;
    width: 100%;
    order: 1;
    flex-grow: 0;
    margin-top: 10px;
    margin-left: 2%;
    height: 42px;
}

.moments {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1A1A1A;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row-gap: 2em;
    border: 5px solid black;
}

.moments4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1A1A1A;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row-gap: 1em;
    border: 5px solid black;
    margin-top: 2px;
    height: 6vh;
}

.moments3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1A1A1A;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row-gap: 1em;
    border: 5px solid black;
    margin-top: 10px;
    height: 6vh;
}

.momentsmas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1A1A1A;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row-gap: 2em;
    border: 5px solid black;
    margin-top: 55px;
    height: 7vh;
}

.rectangle1 {
    width: 100%;
    height: 60px;
}

.rectangle2 {
    width: 100%;
    height: 60px;
}

.rectanglemas {
    width: 100%;
    height: 60px;
    grid-row-gap: 2em; ;
}

.name {
    width: 83px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 50px;
    margin-top: -35px;
}
.name1
{
    width: 83px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 10px;
    text-align: justify;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 50px;
    margin-top: -25px;
}
.transtipe {
    color: white;
    width: 95px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    margin-left: 50px;
    margin-top: -35px;
}

.time2 {
    color: aquamarine;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-left: -15px;
    margin-top: -8px;
}

.positive2 {
    color: white;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-left: -15px;
    margin-top: -50px;
}
.time {
    color: aquamarine;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-left: -15px;
}

.positive {
    color: greenyellow;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-left: -15px;
}

.negative {
    color: red;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-left: -15px;
    }

@media(min-width: 501px) {
    * {
        max-Width: none;
        max-Height: none;
    }
    .send {
        margin-left: 18%;
        margin-right: 20px;
        width: 60%;
    }
    .Exchange2{
        margin-left: 10%;
    }
}